.buffer-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.buffer-top-0 {
  margin-top: 0px !important; }

.buffer-bottom-0 {
  margin-bottom: 0px !important; }

.buffer-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.buffer-top-1 {
  margin-top: 10px !important; }

.buffer-bottom-1 {
  margin-bottom: 10px !important; }

.buffer-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.buffer-top-2 {
  margin-top: 20px !important; }

.buffer-bottom-2 {
  margin-bottom: 20px !important; }

.buffer-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.buffer-top-3 {
  margin-top: 30px !important; }

.buffer-bottom-3 {
  margin-bottom: 30px !important; }

.buffer-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.buffer-top-4 {
  margin-top: 40px !important; }

.buffer-bottom-4 {
  margin-bottom: 40px !important; }

.buffer-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.buffer-top-5 {
  margin-top: 50px !important; }

.buffer-bottom-5 {
  margin-bottom: 50px !important; }

.buffer-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.buffer-top-6 {
  margin-top: 60px !important; }

.buffer-bottom-6 {
  margin-bottom: 60px !important; }

.buffer-7 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.buffer-top-7 {
  margin-top: 70px !important; }

.buffer-bottom-7 {
  margin-bottom: 70px !important; }

.buffer-8 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.buffer-top-8 {
  margin-top: 80px !important; }

.buffer-bottom-8 {
  margin-bottom: 80px !important; }

.buffer-9 {
  margin-top: 45px !important;
  margin-bottom: 45px !important; }

.buffer-top-9 {
  margin-top: 90px !important; }

.buffer-bottom-9 {
  margin-bottom: 90px !important; }

.buffer-10 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.buffer-top-10 {
  margin-top: 100px !important; }

.buffer-bottom-10 {
  margin-bottom: 100px !important; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

::-moz-selection {
  background: #0514A7;
  color: white; }

::selection {
  background: #0514A7;
  color: white; }

* {
  -webkit-font-smoothing: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

@font-face {
  font-family: 'micross';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/micross.woff") format("woff"); }

@font-face {
  font-family: 'windialog';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/windialog.woff") format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url("../img/site/bg-pattern.png");
  font-family: 'Times New Roman', times, serif;
  font-size: 16px; }

figure {
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: contrast(2) saturate(1.5);
          filter: contrast(2) saturate(1.5);
  position: relative; }
  figure:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/site/noise.png");
    background-size: cover; }

.header {
  width: 496px;
  height: 91px;
  background: url("../img/site/logo.png");
  display: block; }

.main {
  width: 497px;
  min-height: 100vh;
  background: url("../img/site/bg-cover.png");
  margin-top: 10px;
  margin-left: 115px; }
  .main:after {
    content: "";
    display: table;
    clear: both; }

.btn-home {
  width: 106px;
  height: 17px;
  position: absolute;
  left: 31px;
  top: 101px;
  background: url("../img/site/btn-home.png"); }

.section {
  width: 384px;
  margin-left: 50px;
  margin-top: 10px; }

.article h1 {
  font-size: 24px;
  font-weight: normal; }

.article p {
  margin: 16px 0;
  font-size: 16px; }

.article p.lead {
  font-weight: bold; }

.article figure {
  width: 180px;
  height: 120px;
  float: left;
  margin-right: 12px; }

.home li {
  list-style: none;
  float: left;
  width: 100%;
  border-top: 1px solid black;
  margin-bottom: 18px; }

.home li:nth-child(5n + 1) {
  margin-right: 12px; }

.home li:nth-child(5n + 1),
.home li:nth-child(5n + 2) {
  width: calc(50% - 12px);
  border-top: 0; }
  .home li:nth-child(5n + 1) figure,
  .home li:nth-child(5n + 2) figure {
    display: none; }

.home a {
  font-weight: bold; }

.home figure {
  width: 120px;
  height: 80px;
  float: left;
  margin-right: 12px; }

.home li:nth-child(5n + 4) figure {
  float: right;
  margin-right: 0;
  margin-left: 12px; }
